{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block content %} 

    {% block pagetitle %}
    {% include "partials/page-title.html" with pagetitle="Lexa" subtitle="Dashboard" title="Dashboard"%}
    {% endblock pagetitle %}

                       
{% endblock content %}

{% block extra_javascript %}

    <!--Morris Chart-->
    <script src="{% static 'libs/morris.js/morris.min.js' %}"></script>
    <script src="{% static 'libs/raphael/raphael.min.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock extra_javascript %}
